<footer class="footer-part px-5x2">
  <div class="container">
    <div nz-row>
      <div nz-col nzSpan="24" nzSm="12">
        <div nz-row nzGutter="12">
          <div nz-col nzSpan="4" class="text-right">
            <img alt="HCM-UTE Logo" src="assets/img/logo/ute_logo.png" class="logo-bottom">
          </div>
          <div nz-col nzSpan="20">
            <div>
              <span>
                {{ langData.THONG_TIN_TRUONG_1 }}<br>
                {{ langData.THONG_TIN_TRUONG_2 }}<br>
                {{ langData.THONG_TIN_KHOA }}
                <br>
                <a href="javascript:void(0);" class="mr-5x2"><i class="fa-solid fa-globe"></i></a>
                <a href="javascript:void(0);" class="mr-5x2"><i
                    class="fa-brands fa-facebook-square"></i></a></span>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24" nzSm="12">
        <span class="font-bold">{{ langData.LIEN_HE_CHUNG_TOI }}</span>
        <ul class="pl-5x3 list-no-style">
          <li><i class="fa-solid fa-map-marked-alt mr-5x1"></i>
            <span>
              {{ langData.PHONG_BAN }},<br>
              {{ langData.DIA_CHI_1 }}, {{ langData.DIA_CHI_2 }}
            </span>
          </li>
          <li><a href="tel:{{langData.SO_DIEN_THOAI_LIEN_HE}}" class="anchor-no-style"><i
                class="fa-solid fa-phone mr-5x1"></i><span>{{langData.SO_DIEN_THOAI_LIEN_HE}}</span></a>
          </li>
          <li><a href="mailto:{{langData.EMAIL_LIEN_HE}}" class="anchor-no-style"><i
                class="fa-solid fa-envelope mr-5x1"></i><span
                class="email-txt">{{langData.EMAIL_LIEN_HE}}</span></a>
          </li>
        </ul>
      </div>
      <div nz-col nzSpan="24" class="text-center">
        <hr>
        <p>© {{ nowYear }} <span>HCM-UTE</span>. {{ langData.DESIGN_BY_COST }} · Rev.{{ revison }} ·
          <u class="cursor-pointer" (click)="openFeedbackDialog()">{{ langData.BAO_CAO_SU_CO }}</u>
        </p>
      </div>
    </div>
  </div>
</footer>