<div class="logo text-white text-center logo-text-font logo-front">
  <img alt="HCM-UTE Logo" class="logo-img" src="assets/img/logo/ute-logo-white.png"><b>HCM-UTE</b>
  <div class="avatar-user">
    <img alt="User Avatar" class="avatar-img"
      [attr.src]="avatarOfUser ? avatarOfUser : 'assets/img/other/user.png'"
      onerror="this.src='assets/img/other/user.png'"><br>
    <span class="avatar-name">{{nameOfUser}}</span>
  </div>
</div>
<ul nz-menu nzTheme="light" nzMode="inline" class="sub-menu">
  @for (menu of listMenu; track menu.title) {
  @if (menu.listChild.length && checkRole(menu.roles)) {
  <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" (click)="autoHideMenu()" #subMenuItem>
    <ul>
      @for (subMenu of menu.listChild; track subMenu.title) {
      @if (checkRole(subMenu.roles)) {
      <li nz-menu-item [routerLink]="subMenu.routerLink" routerLinkActive="ant-menu-item-selected"
        nzTooltipPlacement="right" nz-tooltip [nzTooltipTitle]="subMenu.title">
        <i [ngClass]="'mr-5x2 ' + subMenu.icon"></i>
        <span>{{subMenu.title}}</span>
      </li>
      }
      }
    </ul>
  </li>
  }
  @if (!menu.listChild.length && checkRole(menu.roles)) {
  <li nz-menu-item class="menu-alone" [routerLink]="menu.routerLink"
    routerLinkActive="ant-menu-item-selected" nzTooltipPlacement="right" nz-tooltip
    [nzTooltipTitle]="menu.title">
    <i [ngClass]="'mr-5x1 ' + menu.icon"></i>
    <span>{{menu.title}}</span>
  </li>
  }
  }

</ul>