<div>
  <div>
    <h2 class="w-full text-center">{{langData.DAT_LAI_MAT_KHAU}}</h2>
    <!-- Toolbar here -->
  </div>
  <div class="login-on-page">
    <form nz-form [formGroup]="form" class="center-form">
      <nz-form-item>
        <nz-form-control [nzValidateStatus]="displayFieldCssZorro(form, 'password')">
          <nz-input-password [nzTooltipTitle]="langData.MAT_KHAU" nzTooltipPlacement="left"
            nz-tooltip>
            <i class="fa-solid fa-lock prefix-icon" nzInputPrefix></i>
            <input [attr.type]="showPass ? 'text' : 'password'" class="nz-form-input" nz-input
              formControlName="password" [attr.placeholder]="langData.MAT_KHAU" nzSize="large" />
            <ng-template nzInputPasswordIcon>
              <i (click)="toggleShowPassLogin()"
                [ngClass]="showPass ? 'fa-solid fa-eye-slash append-icon cursor-pointer' : 'fa-solid fa-eye append-icon cursor-pointer'"></i>
            </ng-template>
          </nz-input-password>
          <app-field-error-display [displayError]="isFieldValid(form, 'password', 'required')"
            [errorMsg]="langData.CHUA_NHAP_MAT_KHAU" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzValidateStatus]="displayFieldCssZorro(form, 'repassword')">
          <nz-input-password [nzTooltipTitle]="langData.NHAP_LAI_MAT_KHAU" nzTooltipPlacement="left"
            nz-tooltip>
            <i class="fa-solid fa-lock prefix-icon" nzInputPrefix></i>
            <input [attr.type]="showPass ? 'text' : 'password'" class="nz-form-input" nz-input
              formControlName="repassword" [attr.placeholder]="langData.NHAP_LAI_MAT_KHAU"
              nzSize="large" />
            <ng-template nzInputPasswordIcon>
              <i (click)="toggleShowPassLogin()"
                [ngClass]="showPass ? 'fa-solid fa-eye-slash append-icon cursor-pointer' : 'fa-solid fa-eye append-icon cursor-pointer'"></i>
            </ng-template>
          </nz-input-password>
          <app-field-error-display [displayError]="isFieldValid(form, 'repassword', 'required')"
            [errorMsg]="langData.CHUA_NHAP_MAT_KHAU" />
          <app-field-error-display [displayError]="isFieldValid(form, 'repassword', 'mustMatch')"
            [errorMsg]="langData.MAT_KHAU_CHUA_KHOP" />
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzJustify="center" class="mt-5x2">
        <div nz-col [nzSpan]="24" class="text-center">
          <button nz-button type="button" class="cursor-pointer" [nzType]="'primary'" nzSize="large"
            (click)="onResetPass()">
            <span>{{langData.CAP_NHAT}}</span></button>
        </div>
      </div>
    </form>
  </div>
</div>