<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".mjs" mimeType="text/javascript" />
			<mimeMap fileExtension=".ftl" mimeType="text/plain" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Block JS Map Files" stopProcessing="true">
					<match url=".*\.js\.map$" />
					<action type="CustomResponse" statusCode="404" statusReason="NotFound" statusDescription="File not found" />
				</rule>
				<rule name="AngularJS Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
				<rule name="HTTPS Redirect" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
